<app-users-header *ngIf="!user.ban"></app-users-header>

<div class="content__row" *ngIf="user.ban">
  <div class="content__inner" style="text-align: center;display: block;padding: 20px">
    <b>Автор заблокирован за нарушение пользовательского соглашения.</b>
  </div>
</div>

<div class="content__row" *ngIf="!user.ban">
  <div class="content__inner">

    <app-users-left-menu remove-host></app-users-left-menu>

    <div class="content__col-large">
      <div class="content__col-large-items-box">
        <!-- BOX WHITE -->
        <div class="box-white box-white--padding-30">
          <div class="box-white__body">
            <div class="box-white__body-top">
              <div class="box-white__body-top-filter-field">
                <!-- FILTER FIELD -->
                <div class="filter-field">
                  <input class="filter-field__input" placeholder="Фильтр..." type="text" [(ngModel)]="filter">
                  <button class="filter-field__btn">
                    <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                      <g>
                        <path class="filter-field__cls-1" d="M157.68 132.5h-56.51L11.18 17h236.5l-90 115.5zM157.68 132.5V211l-56.51 28.33V132.5"></path>
                      </g>
                    </svg>
                  </button>
                </div>
                <!-- /FILTER FIELD -->
              </div>
            </div>

            <div class="box-white__body-ual-small">
              <!-- USER AVATAR LIST -->
              <div class="user-avatar-list">

                <div class="user-avatar-list__col user-avatar-list__col--padding-0" *ngFor="let z of [0]">
                  <ng-container *ngFor="let o of objects | filter:'users':filter; index as i">

                    <div class="user-avatar-list__item" *ngIf="true || (mode == 1 && o.is_banned == 1)">
                      <!-- AVATAR -->
                      <div class="avatar avatar--avatar-img-max-width31">
                        <img class="avatar__avatar" src="{{o.avatar}}" alt="" *ngIf="o.avatar && o.avatar.length > 5">
                        <img class="avatar__avatar" src="/frontend_assets_stihi/img/avatar_default.png" alt="" *ngIf="!o.avatar || o.avatar.length < 5">

                        <div class="avatar__user-right avatar__user-right--flex">
                          <a routerLink="/@{{o.displayNameBlog}}" class="avatar__avatar-name avatar__avatar-name--size-medium" style="font-size: 16px">
                            <ng-container>{{o.displayName}}</ng-container>
                          </a>

                          <!-- VALUE -->
                          <div class="value">
                            <img title="{{getUserPower(o.val_power, 'fish')}}" class="post__right-rating-img" [src]="getUserPower(o.val_power, 'image')" alt="">
                            <div class="value__value2" title="Репутация">{{getUserReputation(o.val_reputation)}}</div>
                          </div>
                          <!-- /VALUE -->
                          <div class="user-avatar-list__btn" *ngIf="auId > 0">
                            <!-- BTN SECONDARY -->
                            <a class="btn-secondary btn-secondary--small btn-secondary--active" href="javascript:void(0)" (click)="subscribe(o)" *ngIf="!o.isSubscribedToUser">Подписаться</a>
                            <a class="btn-secondary btn-secondary--small btn-secondary--active" href="javascript:void(0)" (click)="unSubscribe(o)" *ngIf="o.isSubscribedToUser">Отписаться</a>
                            <!-- /BTN SECONDARY -->
                          </div>
                        </div>
                      </div>
                      <!-- /AVATAR -->
                    </div>

                  </ng-container>
                </div>

              </div>
              <!-- /USER AVATAR LIST -->
            </div>

          </div>
        </div>
        <!-- /BOX WHITE -->
      </div>
    </div>

  </div>
</div>